body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1dede;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav {
    display: flex;
    gap: 15px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cart-icon,
.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.main-content {
    text-align: center;
    padding: 20px;
}

.main-content h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #000;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

.milestones-section {
    background-color: hsl(240, 31%, 47%);
    text-align: center;
    padding: 20px;
}

.milestones-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.milestones-section p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: #d9d9d9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.milestones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.milestone {
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    text-align: left;
}

.milestone h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.milestone p {
    font-size: 0.9rem;
    color: #d9d9d9;
}
#third{
    background-color: rgb(103, 197, 255);
    height: 300px;
}
#third h1{
    width: 90%;
    font-size: 300%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#third p{
    width: 75%;
    text-align: center;
    word-spacing: 3px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button-container {
    width: 60%;
    text-align: center;
}

.more-details-btn {
    background-color: #1a1a1a; 
    color: #ffffff; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.more-details-btn:hover {
    background-color: #333333; 
    
}